# Node
node_modules/
/package-lock.json

dist/
build/
bot/*.exe

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# App config
bot/config.json

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
